@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a</h1>

    <a class="btn btn-primary mt-3" asp-area="" asp-controller="Propuestas" asp-action="Index">Registro de Propuestas Legislativas</a>


</div>
